<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a routerLink="/posts" class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
  </ul>

    <form class="form-inline my-2 my-lg-0" >

      <a style="margin:5px;" class="btn btn-outline-success my-2 my-sm-0" routerLink="/novi-post">Napravi Post</a>
    </form>

    <form class="form-inline my-2 my-lg-0" >

      <a style="margin:5px;" class="btn btn-outline-success my-2 my-sm-0" routerLink="/login">Login</a>
    </form>

    <form class="form-inline my-2 my-lg-0" >

      <a class="btn btn-outline-success my-2 my-sm-0" routerLink="/signup">Sign Up</a>
    </form>

      <form class="form-inline my-2 my-lg-0" >

        <a style="margin:5px;" class="btn btn-outline-success my-2 my-sm-0" routerLink="/logout">Logout</a>
      </form>


  </div>
</nav>
